<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ post.title }} · {{ blog.name }}</title>
    </head>
    <body>
        <h1>{{ post.title }}</h1>
        <div>{{ this.prettyDate }}</div>
        <div>{{#each post.tags}}<a href="../tag/{{this}}">#{{this}}</a> {{/each}}</div>
        {{{ post.content }}}
    </body>
</html>
