<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ post.title }} · {{ blog.name }}</title>
    </head>
    <body>
        <h1>{{ post.title }}</h1>
        <p>{{ this.prettyDate }}</p>
        {{{ post.content }}}
    </body>
</html>
